.red{
    background-color: red;
    width: 150px;
    height: 150px;
    box-shadow: 0 0 10px rgba(238, 7, 7, 0.77);
    border-radius: 50%;
    opacity: 30%;
}
.green{
    background-color: green;
    width: 150px;
    height: 150px;
    box-shadow: 0 0 10px rgba(40, 255, 7, 0.77);
    border-radius: 50%;
    opacity: 30%;
}
.yellow{
    background-color: yellow;
    width: 150px;
    height: 150px;
    box-shadow: 0 0 10px rgba(255, 252, 7, 0.77);
    border-radius: 50%;
    opacity: 30%;
}
.active__yellow{

    background-color: yellow;
    width: 150px;
    height: 150px;
    box-shadow: 0 0 10px rgba(255, 252, 7, 0.77);
    border-radius: 50%;
}
.active__red{
    background-color: red;
    width: 150px;
    height: 150px;
    box-shadow: 0 0 10px rgba(238, 7, 7, 0.77);
    border-radius: 50%;
}.active__green{
     background-color: green;
     width: 150px;
     height: 150px;
     box-shadow: 0 0 10px rgba(40, 255, 7, 0.77);
     border-radius: 50%;
 }
